<div class="container mt-2">
  <div class="row align-items-center">
    <!-- Partie gauche : Interface de détection -->
    <div class="col-md-6 text-center">
      <h2 class="text-dark mb-4" style="font-family: 'Arial', sans-serif; font-weight: bold;">Détection des visages</h2>
    
      <!-- Affichage du flux vidéo -->
      <video #video width="100%" height="auto" autoplay class="video mb-4" style="border-radius: 10px; border: 2px solid  #1b1c1d; box-shadow: 0px 4px 6px rgba(0,0,0,0.1);"></video>
    
      <!-- Bouton pour capturer -->
      <button type="button" class="btn btn-dark btn-lg mt-3" style="width: 250px; padding: 0.8rem 1.5rem;" (click)="capture()">
        <i class="fas fa-camera"></i> Capturer
      </button>
    </div>

    <!-- Partie droite : Affichage des infos -->
    <div class="col-md-6 text-left">
      <div class="info-section">
        <!-- Section de bienvenue -->
        <div class="welcome-message">
          <p><strong>{{ welcomeMessage }}</strong></p>
        </div>
        
        <!-- Date et heure d'arrivée -->
        <!-- <div class="date-time-info">
          <p><strong>Date :</strong> {{ detectionDate | date: 'dd/MM/yyyy' }}</p>
          <p><strong>Heure :</strong> {{ detectionDate | date: 'HH:mm:ss' }}</p>
        </div> -->
      </div>
    </div>
    

  </div>
</div>
