<div class="container">
  <div class="row d-flex justify-content-center align-items-center h-100">
  <h2 class="text-center">Détection des visages</h2>
  
  <!-- Affichage du flux vidéo -->
  <video #video width="640" height="480" autoplay class="video"></video>
  
  <!-- Bouton pour déclencher la capture et la détection -->
  <button type="button"  class="btn btn-primary btn-lg mt-3" style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="capture()">📸 Capturer</button>
  
  <!-- Affichage de la date et l'heure de la détection -->
  <div *ngIf="detectionDate">
    <p><strong>Date/Heure de la détection :</strong> {{ detectionDate }}</p>
  </div>
  
  <!-- Affichage de la liste des visages détectés -->
  <div *ngIf="detectedFaces.length > 0">
    <h3>Visages détectés :</h3>
    <ul>
      <li *ngFor="let face of detectedFaces">{{ face.name }}</li>
    </ul>
  </div>
  </div>
</div>
